@page
@model ThoughtStuff.Caching.Example.Pages.CacheManagerModel

<h1>
    Cache Manager
</h1>

<p>
    There are @Model.EntryCount entries in the cache!
</p>

<h4>
    Keys
</h4>

<ul>
    @await foreach (var key in Model.Keys)
    {
        <li>
            <code>@key</code>
        </li>
    }
</ul>
